// Whole news page
.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;

  // Article
  .news-article {
    width: 35%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.1s ease-in-out;
    font-size: 0.9em;
    position: relative;

    

    // Image in article
    .news-article-image {
      box-sizing: border-box;
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background-position: center;
      background-size: cover;
      border-bottom: 20px solid rgb(51, 196, 129);
      border-radius: 25px 0 0 25px;
    }

    // Content of article
    .news-article-content {
      box-sizing: border-box;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      border-bottom: 20px solid rgb(51, 196, 129);
      background-color: black;
      color: white;
      border-radius: 0 25px 25px 0;
      position: relative;

      .news-article-content-desc {
        padding:5px;
      }

      .news-article-content-author {
        align-self: flex-end;
        margin-right: 10%;
      }
    }

    .news-article-content-read {
      width: 100%;
      height: 100%;
      color: white;
      font-size: 4em;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      visibility: hidden;
      backdrop-filter: blur(3px);
    }

    &:hover .news-article-content-read {
      visibility: visible;
      cursor: pointer;
    }
  }

  // Text to show more articles at the bottom
  .news-showMore {
    color: #6e5654;
    text-decoration: underline;
    position: absolute;
    bottom: 10px;

    &:hover {
      color: #ffbbb5;
      cursor: pointer;
    }

    &:active {
      text-decoration: none;
      color: #6e5654;
    }
  }
}


.news-fullArt {
  background-color: black;

  .wrapper {
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;

    .news-fullArt-content {
      width: 900px;
      height: 1%;
      overflow:hidden;
      margin-left: 50px;
      margin-bottom: 50px;
      background-color: white;
      border-radius: 25px;
    
    }

  .news-fullArt-data {
    position: relative;
    margin-left: 20px;
    width: 500px;
    height: 1%;
    overflow:hidden;
    border-left: 10px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap:20px;

    div {
      margin:5px;
      color: white;
    }
  }
 }
}
