// Global styles in this file
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "navbar";
@import "side";

$theme: black;
$secondThme: rgb(44, 49, 60);
$additional: rgb(51, 196, 129);

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
