@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: black;
  color: white;
}
.navbar .navbar-exchange {
  position: relative;
  left: 5%;
  font-size: 2em;
  transition: 0.1s ease-in-out;
}
.navbar .navbar-exchange:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.navbar .navbar-exchange .navbar-exchange-logo {
  position: relative;
  top: 20px;
  color: white;
}
.navbar .navbar-exchange .navbar-exchange-name {
  color: white;
}
.navbar .navbar-search {
  position: relative;
  left: -5%;
  top: -5%;
}
.navbar .navbar-search .navbar-search-input {
  text-align: center;
  width: 400px;
  height: 45px;
  background-color: #2c313c;
  border: 1px solid black;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: white;
}
.navbar .navbar-search .navbar-search-input:focus {
  outline: none;
  border: 2px solid #33c481;
}
.navbar .navbar-search .navbar-search-input:focus::placeholder {
  color: transparent;
}
.navbar .navbar-search .navbar-search-results {
  position: absolute;
  top: 90%;
  width: 404px;
  height: 440px;
  background-color: #2c313c;
  border-style: solid;
  border-color: #33c481;
  border-width: 0 2px 2px;
  border-radius: 0 0 25px 25px;
  overflow-y: hidden;
  z-index: 99;
}
.navbar .navbar-search .navbar-search-results .nav-search-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbar-search .navbar-search-results hr {
  width: 80%;
  height: 0.5px;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99px;
  height: 99px;
  margin: 0px;
  font-size: 0.75em;
  border-radius: 25px;
  color: white;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-link img {
  width: 60px;
  height: 60px;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-link:hover {
  background-color: grey;
  cursor: pointer;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-oneLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120%;
  margin: 3%;
  border-radius: 25px;
  color: white;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-oneLink img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-oneLink b {
  font-size: 2em;
}
.navbar .navbar-search .navbar-search-results .navbar-search-results-oneLink:hover {
  height: 120%;
  background-color: grey;
  cursor: pointer;
}
.navbar .navbar-menu {
  position: relative;
  left: -5%;
  top: 10%;
  color: white;
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(225deg) brightness(104%) contrast(107%);
  transition: 0.1s ease-in-out;
}
.navbar .navbar-menu .navbar-menu-notification {
  transition: 0.1s ease-in-out;
  padding-right: 10px;
}
.navbar .navbar-menu .navbar-menu-notification:hover {
  cursor: pointer;
  transform: rotate(20deg);
  filter: invert(61%) sepia(67%) saturate(435%) hue-rotate(100deg) brightness(92%) contrast(87%);
}
.navbar .navbar-menu .navbar-menu-notification:active {
  transform: scale(0.9);
}
.navbar .navbar-menu .navbar-menu-settings {
  padding-right: 10px;
  transition: 0.1s ease-in-out;
}
.navbar .navbar-menu .navbar-menu-settings:hover {
  cursor: pointer;
  transform: rotate(20deg);
  filter: invert(61%) sepia(67%) saturate(435%) hue-rotate(100deg) brightness(92%) contrast(87%);
}
.navbar .navbar-menu .navbar-menu-settings:active {
  transform: scale(0.9);
}

.side {
  width: 350px;
  height: calc(100vh - 100px);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.side .side-top {
  margin-top: 50px;
}
.side .side-top .black {
  background-color: black;
}
.side .side-top .green {
  background-color: #33c481;
}
.side .side-top .side-top-button {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 220px;
  height: 40px;
  padding: 10px 10px 10px 30px;
  margin-top: 10px;
  color: white;
  font-size: 1.5em;
  border-radius: 25px;
  transition: 0.1s ease-in-out;
  user-select: none;
}
.side .side-top .side-top-button img {
  margin-right: 5px;
  width: 36px;
  height: 36px;
}
.side .side-top .side-top-button:hover {
  cursor: pointer;
  background-color: #33c481;
}
.side .side-top .side-top-button:active {
  transform: scale(0.9);
}
.side .side-bottom {
  margin-bottom: 30px;
}
.side .side-bottom i {
  font-size: 0.8em;
  color: #6e5654;
  text-decoration: underline;
  cursor: pointer;
}
.side .side-bottom i:hover {
  color: #ffbbb5;
}
.side .side-bottom i:active {
  text-decoration: none;
}

.rounded-connection-triangle {
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px solid black;
  position: absolute;
  left: 350px;
  bottom: calc(100vh - 140px);
  clip-path: polygon(0 0, 0 50%, 50% 0);
}

.rounded-connection-circle {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 350px;
  bottom: calc(100vh - 140px);
  clip-path: circle(50% at 50% 50%);
}

.main {
  position: absolute;
  left: 350px;
  top: 100px;
  width: calc(100vw - 350px);
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  width: 20px;
}
.main::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=app.css.map */
